#cookie-banner {
    padding: 15px;
    position: fixed;
    bottom:0;
    background-color: white;
    width: 100%;
    z-index: 10000;
    border-top: .5px solid $gray-10;
    display: block;
}
#cookie-banner.alert {
    margin-bottom: 0;
}
.cookie-accept {
    transition: all 0.15s ease-out;
}
#cookie-spacer {
    height:71px;
}