.filter-grid {

    .grid {
        display: grid;
        grid-template-columns: 1fr;
        @include media-breakpoint-up(lg) {
            grid-template-columns: 1fr 3fr;
        }
        column-gap: 2rem;
    }
    .grid-sidebar {
        justify-content: flex-start;
        flex-direction: row;
        position: relative;
        
        @include media-breakpoint-up(lg) {
            position: sticky;
            flex-direction: column;
            // border: 1px solid var(--cool-gray-20);
            border-radius: 4px;
            height: fit-content;
            // padding: 2rem;
            top:150px;
            align-items: flex-start;
            margin-bottom: 5.5rem;
        }
    }

    /* Results cards section. To fade-out, use the .fade-out at bottom of the div structure */
    #all-results {
        position: relative;
    }
    .fade-out {
        bottom:0;
        right:0;
        left:0;

        width: 100%;
        height: 150px;

        background-image: linear-gradient(to top, white, transparent);
        position: sticky;
    }
    /* END Results section / Fade-out */

    #categories {
        display: flex;
        flex-direction: column;
    }
    #categories.accordion {
        button {
            text-decoration: none;
        }
        & .card-header {
            & button[aria-expanded='false'] .arrow-dropdown {
                transition: .25s;
                transform: rotate(0);
            }

            & button[aria-expanded='true'] {
                .arrow-dropdown {
                    transition: .25s;
                    transform: rotate(90deg);
                }
            }
        }
        
    }
    & .btn-dropdown {
        border: 0;
        padding:0;
    }

    & #filter_industry_mobile {
        & .h5 {
            padding: 1rem 1.5rem 0 1.5rem;
            font-size: 1rem;
        }
        & .dropdown-menu {
            box-shadow: $shadow-900;
            border-radius: 4px;
            max-height:350px;
            overflow-y: scroll;
            & .dropdown-item {
                white-space: break-spaces;
                &:focus, &:hover, &:active {
                    color: $black;
                    background-color: rgba($green, .15);
                }
            }
        }
    }
    .mobile-filter-actions {
        border-top: 1px solid var(--cool-gray-20);
        display: flex;
        justify-content: space-evenly;
        & .btn-link {
            cursor: pointer; 
            color: var(--teal-60); 
            text-transform: uppercase; 
            line-height:var(--size-150); 
            font-size: var(--size-075); 
            font-family: var(--font-extra-bold);
        }
    }

    input[type='radio'] {
        // margin-right: 1rem;
        appearance: none;
        position: relative;
        &:checked + span {
            color: $teal-60;
            &::before {
                content: '';
                position: absolute;
                background-color: $teal-60;
                border-radius: 50px;
                width: 5px;
                height: 5px;
                left: -.75rem;
                margin-top: .6rem;
            }
        }
        & + span {
            cursor: pointer;
        }
    }
}

// For expandable filters / lists
.list-card {
    margin-bottom: .5rem;
    .card-header {
        background: none;
        border: 0;
        padding:0;
        margin: 0;
        h3 {
            margin: 0;
            padding:0;
            color: $black;
        }
    }
    .card-body {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        & label span {
            margin-left: 1rem;
            
        }
    }
    button {
        transition: all .15s;
        padding: 0;
        color: $black;
        &:hover {
            color: $teal-70;
        }
    }
}