
.products-showcase .nav-pills,
.nav-pills {
    gap: 1rem;
    margin-bottom: 4.75rem;
    justify-content: center;
    .nav-link {
        background-color: #fff;
        color: $gray-50;
        border: 1px solid $gray-50;
        border-radius: 50px;
        font-weight: bold;
        padding: 0.25rem 1rem;
        min-width: 150px;
        text-align: center;
        font-size: 0.75rem;
    }
  
    .nav-link.active {
        color: $black;
        background-color: $primary;
        border-color: $primary;
    }
}