
.nav-pills {
    gap: 1rem;
    margin-bottom: 4.75rem;
    justify-content: center;
    .nav-link {
        color: $gray-50;
        border: 1px solid $gray-50;
        border-radius: 50px;
        font-weight: bold;
        padding: 0.25rem 1rem;
        min-width: 150px;
        text-align: center;
        font-size: 0.75rem;
    }
  
    .nav-link.active,
    .show > .nav-link {
        color: $nav-pills-link-active-color;
        background-color: $nav-pills-link-active-bg;
    }
}