.container {
  margin-top: 80px;
  margin-bottom: 40px;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  h5 {
    color: #fe4901;
    font-family: Poppins, Sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 1.2px;
  }

  h3 {
    text-align: center;
    color: #333;
    font-family: Poppins, Sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 39px;
  }

  p {
    text-align: center;
    color: #333;
    font-family: Inter, Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 10px;

    h5 {
        font-size: 14px;
        line-height: 16.8px;
    }

    h3 {
        font-size: 20px;
    line-height: 25px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }

    img {
        display: none;
    }
  }
}
