$primary_color: #007AFF;
$primary_color_hover: #4DA3FF;
$text_primary: #3F4C5C;
$secondary_color:  rgba(128, 189, 255, 0.25);
$primary_button: #FCD209;
$primary_button_hover: #FFDC32;
$disable_color: #8F9397;
$disable_bg: #F0F1F3;
$spinner_background: #CCE4FF;
$avatar: #FF8551;
$bluringBackground: #231F20;
$theme_red: #E83E3E;
$theme_red_light: #FDECEC;
$successToastBackground: #ECF8EB;
$successToastColor: #3EB837;
$errorToastBackground: #FDECEC;
$errorToastColor: #E83E3E;
$infoToastBackground: #E6F2FF;
$infoToastColor: #007AFF;
