.grain {
    position: relative;
    isolation: isolate;
    overflow: hidden;
}
.grain::before, .grain::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
}
.grain::before {
    contain:style;
    mix-blend-mode: multiply;
    filter: url(#noiseFilter);
}

// This needs to change for each bg theme
// .grain::after {
    // background: radial-gradient(circle at 33% 33%,black, red);
// }

.grain-relative {
    position: relative;
    overflow: hidden;
}
.bg-grain {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    border-top-left-radius: var(--file-radius-size);
    // z-index: -1;
    // isolation: isolate;
    overflow: hidden;
    @supports (mix-blend-mode: multiply) {
        background-image: url('https://filevine-marketing-production-media.s3.us-west-2.amazonaws.com/media/images/design-elements/textures/grain.png');
        background-repeat: repeat;
        mix-blend-mode: multiply;
    }
}
// .bg-grain::before{
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 1200px;
//     // z-index: -1;
//     top: 0;
//     left: 0;
//     bottom:0;
//     right:0;
// }