.container {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 768px) {
        button {
            display: none;
        }
    }

}

.btnPrimary {
    background-color: var(--color-primary);
    color: var(--black);
    border: 1px solid var(--color-primary);
}