.sectionContainer {
  margin-bottom: 50px;

  .container {
    padding: 10px;
    max-width: 1140px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
      text-align: center;
      color: #333;
      font-family: Poppins, Sans-serif;
      font-size: 32px;
      font-weight: 600;
      line-height: 44px;
      max-width: 800px;
    }
  }

  .cardContainer {
    margin: 64px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    .widgetContainer {
      overflow: hidden;
      width: 100%;
      height: 100%;
      border-radius: 32px;
      padding: 15px 25px;
      border: 1px solid #f6e2bb;
      box-shadow: 0 1px 16px #f6e8cc;

      display: flex;
      gap: 1rem;
      .left {
        width: 30%;
        padding: 13px;

        position: relative;

        .gradient {
          width: 120px;
          height: 120px;
          background-color: #f6e2bb;
          border-start-end-radius: 4rem;
          transform: rotate(45deg);
          position: absolute;
          top: -42px;
          left: -42px;
          z-index: -1;
          border-bottom-right-radius: 4rem;
        }
      }
      .left img {
        width: 30px;
        height: 30px;
      }

      .right {
        text-align: start;

        h4 {
          font-family: Poppins;
          font-weight: 600;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        p {
          font-family: Inter;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin: 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    margin-top: 2rem;
    .container {
      h3 {
        font-size: 20px;
        line-height: 25px;
      }
    }
    .cardContainer {
      margin: 1rem 0;
      margin-top: 2rem;
      grid-template-columns: 1fr;
      .widgetContainer {
        .left {
          padding-left: 0;
          .gradient {
            width: 80px;
            height: 100px;
            top: -24px;
            left: -32px;
          }
        }

        .right {
          h4 {
            font-size: 16px;
            line-height: 20px;
          }
          p {
            font-size: 14px;
            line-height: 21px;
          }
        }
      }
    }
  }
}
