.container {
  background-color: #f5f4f4;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-bottom: 0;
  padding: 60px 0;
  h3 {
    margin-bottom: 40px;
    color: #242424;
    font-family: Poppins, Sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    text-align: center;
  }
  .statisticsContainer {
    display: flex;
    .card {
      padding: 10px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      gap: 1rem;
      width: 100%;
      img.left {
        width: 60px;
        height: 60px;
      }

      .right {
        h4 {
          color: #2b3a5b;
          font-family: Inter, Sans-serif;
          font-size: 48px;
          font-weight: 400;
          line-height: 60px;
        }

        p {
          color: #6b717c;
          font-family: Heebo, Sans-serif;
          font-size: 18px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
}
