.section {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0 20px;

  background: rgba(238, 242, 254, 0.44);
  .container {
    max-width: 1140px;
    padding: 46px 0;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    .flexContainer {
      display: flex;
      gap: 1rem;
      .left,
      .right {
        width: 50%;
      }
      .left {
        h3 {
          color: #333;
          font-family: Poppins, Sans-serif;
          font-size: 32px;
          font-weight: 600;
          line-height: 44px;
        }
        p {
          padding: 0 0 26px;
          text-align: left;
          color: #333;
          font-family: Inter, Sans-serif;
          font-size: 20px;
          font-weight: 400;
          line-height: 32px;
        }
        .buttons {
          display: flex;
          gap: 1rem;
        }
      }
      .right {
        img {
          width: 100%;
        }
      }
    }
    .features {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
}

@media (max-width: 768px) {
  .section {
    .container {
      .flexContainer {
        flex-direction: column;
        .left,
        .right {
          width: 100%;
        }
        .left {
          h3 {
            font-size: 14px;
            line-height: 16.8px;
          }
          p {
            text-align: left;
            font-size: 16px;
            line-height: 25px;
          }
          .buttons {
            flex-direction: column;
          }
        }
        .right {
          display: none;
          img {
            display: none;
          }
        }
      }
      .features {
        padding-inline-start: 1rem;
        grid-template-columns: 1fr;
        row-gap: 0.5rem;
        li {
          font-size: 14px;
          line-height: 24.5px;
        }
      }
    }
  }
}
